SECRET_KEY=your_secret_key
DEBUG=enable_or_disable_debug

NAME=database_name
USER=username
PASSWORD=password_for_username
HOST=host_address
PORT=host_port

SU_USER=super_user_login
SU_PASS=super_user_password

EMAIL_HOST_USER=username_from_yandex
EMAIL_HOST_PASSWORD=password_for_username

REDIS_LOCATION=redis://host_address:port_address