SECRET_KEY=your_secret_key
DEBUG=enable_or_disable_debug

NAME=database_name
USER=username
PASSWORD=password_for_username
HOST=host_address
PORT=host_port

SU_USER=super_user_login
SU_PASS=super_user_password

EMAIL_HOST_USER=username_from_yandex
EMAIL_HOST_PASSWORD=password_for_username

REDIS_LOCATION=redis://host_address:port_address

STRIPE_PUBLIC_KEY=pudlic_api_key_for_stripe_DOT_com_service
STRIPE_SECRET_KEY=secret_api_key_for_stripe_DOT_com_service
STRIPE_API_URL=url_to_stripe_api_access
